[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "metrosp"]
	path = metrosp
	url = https://github.com/viniciusoike/metrosp
[submodule "realestatebr"]
	path = realestatebr
	url = https://github.com/viniciusoike/realestatebr
[submodule "trendseries"]
	path = trendseries
	url = https://github.com/viniciusoike/trendseries
