[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "trendseries"]
	path = trendseries
	url = https://github.com/viniciusoike/trendseries
